# =========================
# FIREBASE / FIRESTORE
# =========================
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n"

# =========================
# TELEGRAM
# =========================
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_USERNAME=FastInstant_usdt_bot

TELEGRAM_CHANNEL_1=@phone_teach
TELEGRAM_CHANNEL_2=@forex_big

# Channel where successful payment proofs are posted
PAYMENT_PROOF_CHANNEL=@phone_teach

# =========================
# APP
# =========================
NEXT_PUBLIC_APP_URL=https://instant-usdt.vercel.app
NEXT_PUBLIC_APP_NAME=Instant USDT

# =========================
# MONETAG
# =========================
MONETAG_ZONE_ID=11753424
MONETAG_SDK_URL=https://libtl.com/sdk.js

# =========================
# ADSBITVEX
# =========================
ADSBITVEX_APP_ID=000409

# =========================
# ADSGRAM
# =========================
ADSGRAM_BLOCK_ID=your_adsgram_block_id

# =========================
# PAYOUT / BSC
# =========================
PAYOUT_WALLET_ADDRESS=0xDb1e63101a47Cc8A495de9608ECBd6e436309A1f

# NEVER put your real private key in GitHub
PRIVATE_KEY_WALLET=your_wallet_private_key

# =========================
# SPONSOR PAYMENTS
# =========================
SPONSOR_PAYMENT_ADDRESS=0xDb1e63101a47Cc8A495de9608ECBd6e436309A1f
