APP_URL=https://instant-usdt.vercel.app
BOT_USERNAME=FastInstant_usdt_bot

TELEGRAM_BOT_TOKEN=YOUR_BOTFATHER_TOKEN
TELEGRAM_CHANNEL_1=@phone_teach
TELEGRAM_CHANNEL_2=@forex_big

FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_CLIENT_EMAIL=YOUR_FIREBASE_SERVICE_ACCOUNT_EMAIL
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

PRIVATE_KEY_WALLET=YOUR_BSC_PRIVATE_KEY
PAYOUT_WALLET_ADDRESS=0xDb1e63101a47Cc8A495de9608ECBd6e436309A1f
BSC_RPC_URL=https://bsc-dataseed.binance.org

SPONSOR_PAYMENT_ADDRESS=YOUR_SPONSOR_PAYMENT_ADDRESS

ADSBITVEX_APP_ID=000409
